/* Main */

.landing .icon {
    color: @accent_color;
}

.projects .title-1 {
    margin: 25px;
}

.card {
    margin: 10px;
}
.card .labels,
.card .buttons {
    margin: 5px;
}
.card .thumbnail {
    color: @insensitive_fg_color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -gtk-icontheme("dev.tchx84.gameeky-symbolic");
}

/* About */

.about .icon-dropshadow {
    color: @accent_color;
}
