/* Main */

.projects .title-1 {
    margin: 25px;
}

.card {
    margin: 10px;
}
.card .labels,
.card .buttons {
    margin: 5px;
}
.card .thumbnail {
    color: @accent_bg_color;
    opacity: 0.2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -gtk-icontheme("dev.tchx84.Gameeky-symbolic");
}

/* About */

.icon-dropshadow {
    color: @accent_bg_color;
}
